<h2>'Loader 1</h2>
<div class="loader"></div>
<br>
<h2>Loader 2</h2>
<div class="loader-2"></div>
<br>
<h2>Loader 3</h2>
<div class="loader-3"></div>
<br>
<h2>Dot loader 4</h2>
<div class="loader-4"></div>
<br>
<h2>Dot loader 5</h2>
<div class="loader-5"></div>
<br>
<h2>Dot loader 6</h2>
<div class="loader-6 ms-4"></div>
<br>
<h2>Dot loader 7</h2>
<div class="loader-7 ms-4"></div>
<br>
<h2>Dot and bar  loader 8</h2>
<div class="loader-8"></div>
<br>
<h2>Spinner loader 9</h2>
<div class="loader-9"></div>
<br>
<h2>Spinner loader 10</h2>
<div class="loader-10"></div>
<br>
<h2>Spinner loader 11</h2>
<div class="loader-11"></div>
<br>
<h2>loading loader 12</h2>
<div class="loader-12"></div>
<br>
<h2>Continous loader 13</h2>
<div class="loader-13"></div>
<br>
<h2>Wobling loader 14</h2>
<div class="loader-14"></div>
<br>
<h2>Nature css loader 15</h2>
<div class="loader-15"></div>

  