<h1>Normal Header 1</h1>
<div class="header">
    <div class="header-body">
        <div class="logo">
            <img src="../../../assets/images/Promena 139x25.png" alt="logo" width="">
        </div>
        <div class="header_content">
            <div class="menus">
                
                    <a href="">Home</a>
                    <a href="">About us</a>
                    <a href="">Our services</a>
                    <a href="">Contact us</a>
            </div>
            <div class="icons">
                <i class='bx bxl-whatsapp-square'></i>
                <i class='bx bxl-facebook-circle' ></i>
                <i class='bx bxl-youtube' ></i>
                <i class='bx bxl-google-plus-circle' ></i>
            </div>
        </div>
    </div>
    </div>

    <h1>Header 2</h1>
    <div class="main d-flex flex-column justify-content-center align-item-center">
    <div class="header d-flex col-m-12 flex-row justify-content-around align-item-center p-4">
        <div class="logo col-md-3 d-flex flex-row justify-content-start align-item-center">
            <img class="img1" src="../../../assets/images/Promena 139x25.png" alt="" width="38%">
            </div>
    <div class="menu col-md-6  d-flex flex-row justify-content-center align-item-center gap-5">
            <a href="HOME">Home</a>
            <a href="About Us">About Us</a>
            <a href="Solutions">Solutions</a>
            <a href="Pricing">Pricing</a>
            <a href="Resources">Resources</a>
            <a href="Contact Us">Contact Us</a>
          </div>
          <div class="icon col-md-3 d-flex flex-row justify-content-end align-item-center gap-4">
            <div class="butn">
                <button>Login</button>
            </div>
            <div class="butn-1">
                <button>Sign Up</button>
            </div>
        </div>
    </div>
</div>

<h1>Header 3</h1>
    <div class="main d-flex flex-column justify-content-center align-item-center">
    <div class="header-3 d-flex col-m-12 flex-row justify-content-around align-item-center p-4">
        <div class="logo col-md-3 d-flex flex-row justify-content-start align-item-center">
            <img class="img1" src="../../../assets/images/Promena 139x25.png" alt="" width="38%">
            </div>
    <div class="menu-3 col-md-6  d-flex flex-row justify-content-center align-item-center gap-5">
            <a href="HOME">Home</a>
            <a href="About Us">About Us</a>
            <a href="Solutions">Solutions</a>
            <a href="Pricing">Pricing</a>
            <a href="Resources">Resources</a>
            <a href="Contact Us">Contact Us</a>
          </div>
          <div class="icon-3 col-md-3 d-flex flex-row justify-content-end align-item-center gap-4">
            <div class="butn-3">
                <button>Login</button>
            </div>
            <div class="butn-3">
                <button>Sign Up</button>
            </div>
        </div>
    </div>

</div>
<h1>header 4</h1>
<div class="main-4 d-flex flex-column justify-content-center align-item-center">
    <div class="header-4 d-flex col-m-12 flex-row justify-content-around align-item-center p-4">
        <div class="menu-4 col-md-4  d-flex flex-row justify-content-start align-item-center gap-5">
            <a href="HOME">HOME</a>
            <a href="Shop">SHOP</a>
            <a href="Features">FEATURES</a>
            <a href="pages">PAGES</a>
            <a href="blog">BLOG</a>
          </div>

        <div class="logo-4 col-md-4 d-flex flex-row justify-content-center align-item-center">
         <img class="img1" src="../../../assets/images/Promena 139x25.png" alt="" width="30%">
        
        </div>
        <div class="icon-4 col-md-4 d-flex flex-row justify-content-end align-item-center gap-4">
            <i class='bx bx-search-alt-2'></i>
            <i class='bx bx-user'></i>
            <i class='bx bx-cart-alt'></i>
        </div>
    </div>
</div>

<h1>Header 5</h1>
<div class="main d-flex flex-column justify-content-center align-item-center">
    <div class="header-5 d-flex col-m-12 flex-row justify-content-around align-item-center p-4">
        <div class="logo col-md-3 d-flex flex-row justify-content-start align-item-center">
            <img class="img1" src="../../../assets/images/Promena 139x25.png" alt="" width="38%">
            </div>
    <div class="menu-5 col-md-6  d-flex flex-row justify-content-center align-item-center gap-5">
            <a href="HOME">Home</a>
            <a href="About Us">About Us</a>
            <a href="Solutions">Solutions</a>
            <a href="Pricing">Pricing</a>
            <a href="Resources">Resources</a>
            <a href="Contact Us">Contact Us</a>
          </div>
          <div class="icon-5 col-md-3 d-flex flex-row justify-content-end align-item-center gap-4">
            <div class="butn-5">
                <button>Login</button>
            </div>
            <div class="butn-5">
                <button>Sign Up</button>
            </div>
        </div>
    </div>

    <h1>Header 6</h1>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <img src="../../../assets/images/Promena 139x25.png" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <h1>Header 7</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar scroll</a> -->
          <img src="../../../assets/images/Promena 139x25.png" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <h1>Header 8</h1>
     
     
      

