.image_to_base64 p{
    font-size: 18px;
    font-weight: 600;
}
.upload_file{
    border: 2px dashed grey;
    cursor: pointer;
}
.icon i{
    color: rgba(179, 179, 218, 0.751);
    font-size: 30px;
}
.icon p{
    font-size: 16px;
    font-weight: 600;
}
