// convert an image to base64
.image_to_base64 p{
    font-size: 18px;
    font-weight: 600;
}
.upload_file{
    border: 2px dashed grey;
    cursor: pointer;
}
.icon i{
    color: rgba(179, 179, 218, 0.751);
    font-size: 30px;
}
.icon p{
    font-size: 16px;
    font-weight: 600;
}

// convert an image to blob
.custom-file-upload input[type='file'] {
    display: none;
  }
 .custom-file-upload label {
    display: inline-block;
    cursor: pointer;
    padding: 20px 35px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  .custom-file-upload label:hover {
    background-color: #bddd2e;
    color: #000;
  }
  .custom-file-upload i {
        margin-right: 5px;
        font-size: 28px;} 
 .custom-file-upload span {
       margin-right: 10px;
      font-size: 25px;   } 

  

      .file-upload::-webkit-file-upload-button{
        background-image:linear-gradient(45deg,rgb(92, 146, 45),rgb(172, 160, 160),rgb(5, 48, 24));
        color: white;
        padding: 20px 30px;
        border: none;
        border-radius: 50px;
        font-weight: 500;
        cursor: pointer;
      }
      .file-upload::-webkit-file-upload-button:hover{
        color: black;
        font-weight: 500;
      }

      // multiple image upload
      .upload i{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        border: 2px dotted #423d3d;
        border-style: dashed;
        width:80%;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: 40px;
      }





  


      




  
  
  
