<div class="main">
    <div class="main_body d-flex flex-column gap-5">
        <form [formGroup]="addImageForm">
            <div class="image_to_base64">
                <p>Image to base64</p>
                <div class="upload_file d-flex flex-row justify-content-center align-items-center p-5 w-50">
                    <input type="file" id="imageInput" style="display: none" accept="image/*"
                        (change)="handleImageUpload($event)" formControlName="firstImage">
                    <div class="icon d-flex flex-column justify-content-center align-items-center gap-2"
                        (click)="openImageUploadDialog()">
                        <i class="fa-solid fa-cloud-arrow-up" id="uploadIcon"></i>
                        <p id="selectedLogoName">Upload File </p>
                    </div>
                    <div class="drop_image d-flex flex-row">
                        <img [src]="addImageForm.controls.firstImage.value" alt="" id="uploadedLogoImage"
                            [style.width]="imageWidth">
                    </div>
                </div>
            </div>
         </form>
       
         <!-- Convert An Image to Base64 -->
         <div class="div d-flex flex-column gap-1">
            <p class="fw-bold">Convert An Image to Base64</p>
            <input type="file" class="file-upload" (change)="onFileSelecteds($event)">
         </div>
         
         <!-- Convert An Image to Blob -->
         <div class="custom-file-upload">
            <p class="fw-bold">Convert An Image to Blob</p>
            <label for="fileInput">
              <span>Upload Image</span>
              <i class='bx bxs-cloud-upload'></i>
            </label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">
          </div>
        
          <!--  Image crop -->
          <!-- <input type="file" (change)="fileChangeEvent($event)" />
           <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded($event)"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
           <img [src]="croppedImage" />
         -->

        
         <!-- multiple image upload -->
         <div class="d-flex flex-column col-lg-6 mt-3">
            <p class="fw-bold">Multiple Images Upload</p>
            <label for="name" class="large-links text-black fw-600">Store Images<span class="text-grey">(Add
                    maximum 5 images)</span></label>
            <input type="file" accept="image/*" style="display: none" multiple (change)="uploadImagesUpload($event)"
                formControlName="images" #fileInput>
            <div class="card_dash p-1 br-5 d-flex flex-row gap-3  cursor"
                (click)="fileInput?.click()">
                <div class="upload d-flex flex-column gap-3">

                        <i class='bx bx-upload' ></i>
                    <p class="mar0 text-grey large-links fw-500 d-flex flex-row text-a-c" id="selectedimagesName">
                        Drop your images here, or Browse
                    </p>
                </div>
            </div>
            <div class="drop_image d-flex flex-row gap-3  mt-3">
                <ng-container *ngFor="let image of base64Images; let i = index;">
                    <div class="image-container" style="position:relative">
                        <img [src]="image" alt="" class="uploaded-image" [style.width]="imagesListWidth">
                        <i class="fa-solid fa-times-circle delete-icon text-danger" (click)="deleteLocalImage(i)" style="position: absolute;
                        top: -10px;
                        right: -10px;cursor:pointer"></i>
                    </div>
                </ng-container>
            </div>
        </div>
          

</div>
</div>






  
  



