// outline buttons
/* Green */
.success {
    border-color: #04AA6D;
    color: green;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red;
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }




  //   Animated Button

.button-animate{
    border-radius: 4px;
    background-color: #bb654a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button-animate span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button-animate span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button-animate:hover span {
    padding-right: 25px;
  }
  .button-animate:hover span:after {
    opacity: 1;
    right: 0;
  }


//   Download Buttons
  .btn-download {
    background-color: rgb(197, 113, 162);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-download:hover {
    background-color: rgb(139, 50, 72);
  }


//   Pill Buttons
.pill-button {
    background-color: #ad9090;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
  }
  .pill-button:hover {
    background-color: #eb9898;
    color: #f44336;
  }


//   Icons Button
.icon-btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .icon-btn:hover {
    background-color: RoyalBlue;
  }

//   Linear Gradient Buttons
.btn-linear-1{
    background-image: linear-gradient(red,blue);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn-linear-2{
  background-image: linear-gradient(to right, red , yellow);
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn-linear-3{
  background-image: linear-gradient(to left, rgb(74, 141, 150) , rgb(168, 168, 101));
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}
.btn-linear-4{
  background-image: linear-gradient(to left, rgb(170, 98, 56) ,rgb(168, 168, 101),rgb(175, 55, 55));
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

//   on hover Linear Gradient Buttons
.btn-hover-1{
  border: 1px solid;
  color: rgb(163, 61, 61);
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.btn-hover-2{
  border: 1px solid;
  color: rgb(99, 167, 90);
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.btn-hover-1:hover{
  background-image: linear-gradient(rgb(248, 82, 82),rgb(248, 196, 196),rgb(54, 6, 6));
}
.btn-hover-2:hover{
  background-image: linear-gradient( to right,rgb(223, 248, 82),rgb(75, 207, 58),rgb(58, 165, 99));
  color: black;
}

