<h2>Bootstrap Buttons</h2>
<div class="button d-flex flex-row gap-2 ">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
    </div>
    <br>

<h2>Outline Buttons</h2>
<div class="outline-button d-flex flex-row gap-2">
    <button class="btn success">Success</button>
    <button class="btn info">Info</button>
    <button class="btn warning">Warning</button>
    <button class="btn danger">Danger</button>
    <button class="btn default">Default</button>
</div>
<br>

<h2>Animated Button</h2>
<button class="button-animate"><span>Hover Me </span></button>
<br>

<h2>Download Buttons</h2>
<button class="btn-download"><i class='bx bxs-cloud-download'></i> Download</button>
<br>

<h2>Pill Buttons</h2>
<div class="d-flex flex-row gap-3 ">
<button class="pill-button">Pill Button 1</button>
<button class="pill-button">Pill Button 2</button>
</div>
<br>


<h2>Icons Buttons</h2>
<div class="div d-flex flex-row gap-3">
    <button class="icon-btn"><i class='bx bx-home-heart'></i> Home</button>
    <button class="icon-btn"><i class='bx bx-trash'></i> Trash</button>
    <button class="icon-btn"><i class='bx bx-cart-alt'></i> Cart</button>
    <button class="icon-btn"><i class='bx bxs-folder-open'></i> Folder</button>
</div>

<h2>Linear Gradient Buttons</h2>
<div class="div d-flex flex-row gap-3">
   <button class="btn-linear-1">Sign-up</button>
   <button class="btn-linear-2">Sign-In</button>
   <button class="btn-linear-3">Login</button>
   <button class="btn-linear-4">Login</button>
</div>

<h2>On hover linear gradient</h2>
<div class="div d-flex flex-row gap-3">
<button class="btn-hover-1">hover me</button>
<button class="btn-hover-2">Hover me</button>
</div>

