<div class="main">
    <div class="main_body d-flex flex-row  justify-content-center">
        <div class="left_sec ">
             <div class="left_sec_list p-3 d-flex flex-column gap-2">
                <p routerLink="buttons">Buttons</p>
                <p routerLink="cards">Cards</p>
                <p routerLink="carousel">Carousel</p>
                <p routerLink="headers">Headers</p>
                <p routerLink="inputs">Inputs</p>
                <p routerLink="loaders">Loaders</p>
                <p routerLink="models">Models</p>
                <p routerLink="pagination">Pagination</p>
                <p routerLink="side-nav">Sidenav</p>
                <p routerLink="tables">Tables</p>
                <p routerLink="tabs">Tabs</p>
                <p routerLink="tosters">Tosters</p>
             </div>
        </div>
        <div class="right_sec p-3 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>