<!-- <router-outlet></router-outlet> -->

<div class="main">
    <div class="main_body d-flex flex-row justify-content-center align-items-center w-100">
        <div class="header d-flex flex-row justify-content-between align-items-center p-3 w-100">
            <div class="logo">
                <img src="https://www.promena.in/images/Promena%20139x25.png" alt="">
            </div>
            <div class="list d-flex flex-row gap-3 align-items-center">
                <p routerLink="components">Components</p>
                <p routerLink="functionalities">Functionalities</p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>