
<div class="card-design d-flex flex-column align-items-center justify-content-center">
<h1 class="text-center">Normal Card</h1>
<div class="card-design_body d-flex flex-row align-items-center  gap-4">
    <div class="card1">
        <img src="../../../assets/images/card1img.avif" alt="Avatar" width="100%">
        <div class="container">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
      </div>
      <div class="card2">
        <div class="card-image">
            <img src="../../../assets/images/bohemian-man-with-his-arms-crossed_1368-3542.avif" alt="Avatar" width="100%">
        </div>
        <div class="card-overlay">
          <div class="card-text">Hover Over Me</div>
        </div>
      </div> 
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/images/flip-card.avif" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
</div>
</div>
    
 <!-- Bootstrapcards       -->
       <div class="card-bootstrap mt-5 mb-3">
        <h1 class="text-center">Bootstrap Card</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Senior Product<br>Designer-Singapore</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">32 Applied <span class="text2">of 50 capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Dribbble</h6> <span>4 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Product</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">42 Applied <span class="text2">of 70 capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"> <i class="bx bxl-reddit"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Reddit</h6> <span>2 days ago</span>
                            </div>
                        </div>
                        <div class="badge d-flex align-items-center justify-content-center"> <span>Design</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Software Architect <br>Java - USA</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">52 Applied <span class="text2">of 100 capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <div class="row pb-5 mb-4 d-flex justify-content-center">
        <h1 class="text-center">Shopping Cards</h1>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">

          <!-- Card-->
          <div class="card rounded shadow-lg border-0">
            <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
              <h5> <a href="#" class="text-dark">Awesome product</a></h5>
              <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <ul class="list-inline small">
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-lg border-0">
              <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Awesome product</a></h5>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                </ul>
              </div>
            </div>
          </div>
      
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-lg border-0">
              <div class="card-body p-4"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-3_rk25rt.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Awesome product</a></h5>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
              </div>
            </div>
          </div>
    </div>
      
    <div class="card-bootstrap d-flex flex-column align-items-center justify-content-center mt-4 ">
        <h1 class="text-center">Bootstrap Card with Image</h1>
        <div class="card-bootstrap_body d-flex flex-row  align-items-center justify-content-center gap-4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/images/butterfly-7954767_640.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>  
             </div>
   


        
     <div class="card-material d-flex flex-column align-items-center justify-content-center mt-4 ">
        <h1 class="text-center mt-4">Angular-Material Card</h1>
        <div class="card-material_body d-flex flex-row align-items-centerjustify-content-center gap-4">

            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        
        </div>     
          
    </div>    


 

   
